<li class="comment">
    <div class="comment-metadata">
        <strong><%= comment.username %></strong> lúc <span class="comment-date"><%= comment.date %></span>
    </div>
    <div class="comment-content">
        <p><%= comment.content %></p>
    </div>
</li>