<li class="comment">
    <div class="comment-metadata">
        <strong>user.displayName</strong> <span class="comment-date">9:15:46 AM 21/12/2019</span>
    </div>
    <div class="comment-content">
        Đây là một comment rất dài Lorem ipsum dolor sit amet consectetur adipisicing elit. A minus dolorum voluptatum,
        repellendus, perspiciatis voluptatem fugiat eligendi eaque quae atque nemo laudantium eos numquam accusantium
        sit qui nam reiciendis incidunt?
    </div>
</li>