<footer class="container content footer">
    <p>Mọi nội dung của blog đều được sử dụng thoải mái.</p>
    <p> Người thảo luận để tìm ra cách giải hay cho một bài toán khó sẽ trở thành lập trình viên giỏi. Người hay hỏi bài tập thì không. Còn bạn thì sao? - Daynhauhoc</p>
    <p>☭☭☭</p>
</footer>
</body>

</html>