<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/poole.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/hyde.css">

    <style>
        .post-title {
            font-size: 2rem;
            font-weight: bold;
        }
    </style>
    <% if(typeof css !== 'undefined') { %>
        <% console.log(css) %>
        <link rel="stylesheet" href="/css/ulgrid.css">
        <% }%>
    <title>Minh blog</title>
</head>

<body>