<%- include("partials/header", {webTitle: "post"}) %>

<div class="container content">
    <div class="post-title">
        <div class="editable" contenteditable>
            <h1>Hello</h1>
        </div>
    </div>
    <div class="post-content">
        <div class="editable" contenteditable>
            day la noi dung
        </div>
    </div>
</div>
<script src="/js/editor.js"></script>
<% include partials/footer %>