<%- include("partials/admin-header", {webTitle: "post"}) %>

<div class="container content">
    <article class="post">
        <div class="post-title">
            <div class="editable" contenteditable>
                <h1><%=postInfo.title%></h1>
            </div>
        </div>
        <div class="post-content">
            <div class="editable" contenteditable>
                <%-postInfo.content%>
            </div>
        </div>
    </article>
</div>
<script src="/js/editor.js"></script>
<% include partials/footer %>