<% include partials/header %>
<% include partials/sidebar %>

<div class="container content">
    <div class="posts">
        <%posts.forEach(post => {%>
        <%- include("partials/post-item", {info: {postTitle: post.title, postDate: post.dateCreated, postLink:"/post/"+ post.path, summary: post.summary}}) %>
        <%});%>

    </div>
    
</div>
<% include partials/footer %>