<%- include("partials/admin-header", {webTitle: "New Post", editPost:true}) %>

<div class="container content">
    <div class="post">
        <div class="post-title">
            <input type="text" placeholder="Nhập vào tựa đề bài viết của bạn">
        </div>
        <div class="post-content">
            <textarea id="content"></textarea>
        </div>
        <div class="tags">
            
        </div>
        <Button id="get-content">Get value</Button>
    </div>
</div>
<script src="/js/editor.js"></script>
<% include partials/footer %>