<%- include("partials/admin-header", {webTitle: "New Post", editPost:true}) %>

<div class="container content">
    <div class="post">
        <div class="post-title">
            <input id="title-input" type="text" placeholder="Nhập vào tựa đề bài viết của bạn">
        </div>
        <div class="post-content">
            <textarea id="content"></textarea>
        </div>
        <div class="tags">
            <input class="form-control" id="tags-input" type="text" onkeyup=""
                placeholder="Tags..." />

        </div>
        <Button id="get-content">Post</Button>
    </div>
</div>
<script src="/js/editor.js"></script>
<script src="/js/createPost.js"></script>
<% include partials/footer %>