<% include partials/header %>
<% include partials/sidebar %>
<div class="container content">
    <h2>Sorry, we can't find this page</h2>
    <img src="/404.png" alt="404">
</div>
<% include partials/footer %>
<!-- post : {title: "hello", date: "06 Feb 2019", content :"Hello"} -->
