<% include partials/header %>
<% include partials/sidebar %>
<div class="container content">
    <%- include("partials/post", {post: postInfo}) %>
</div>
<% include partials/footer %>
<!-- post : {title: "hello", date: "06 Feb 2019", content :"Hello"} -->
