<% include partials/post-header %>
<% include partials/post-sidebar %>
<div class="container content">
    <!-- Post content -->
    <%- include("partials/post", {post: postInfo}) %>

</div>
<!-- scripts -->
<!-- toc generator -->
<script src="/js/newtoc.js"></script>
<script src="/js/comment.js"></script>
<% include partials/footer %>
<!-- End of file -->