.post-title {
    font-size: 2rem;
    font-weight: bold;
}

/* counter */

.post {
    counter-reset: header2;
}
.post h2 {
    counter-reset: header3;
    counter-increment: header2;
}
.post h3 {
    counter-reset: header4;
    counter-increment: header3;
}

.post h4 {
    counter-increment: header4;
}

.post h2::before{
    content: counter(header2) ". ";
}
.post h3::before{
    content: counter(header2) "." counter(header3) ". ";
}
.post h4::before{
    content: counter(header2)"." counter(header3)"." counter(header4) ". ";
}

.container {
    margin-left: auto;
    margin-right: auto;
}


.toc-container {
    position: fixed;
    transform: translateX(37rem);
    width:28%;
    /* text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; */
    opacity: .2;
    transition: opacity .3s;
    color: #202020;
    counter-reset: toc-header2;
    
}
.toc-container li {
    list-style-type: none;
}
.toc-container ul {
    padding-inline-start: 1rem;
}

.toc-container:hover {
    opacity: 1;
}

.toc-container h2 {
    font-size: 1rem;
    counter-reset: toc-header3;
    counter-increment: toc-header2;

}
.toc-container h3 {
    font-size: .9rem;
    counter-reset: toc-header4;
    counter-increment: toc-header3;
}
.toc-container h4 {
    font-size: .8rem;
    counter-increment: toc-header4;
}

.toc-container h2::before{
    content: counter(toc-header2) ". ";
}
.toc-container h3::before{
    content: counter(toc-header2) "." counter(toc-header3) ". ";
}
.toc-container h4::before{
    content: counter(toc-header2) "." counter(toc-header3) "." counter(toc-header4) ". ";
}


.toc-container h2,
.toc-container h3,
.toc-container h4 {
    margin: 0;
}

.toc-container a {
    color: #202020;
}
.post p {
    text-align: justify;
}

.tags {
    padding: 8px;
}

.tags .tag {
    display: inline-block;
    background-color: #202020;
    color: rgba(255,255,255,.5);
    margin: 5px;
    padding: 5px 8px;
}

.comments {
    padding: 1rem;
    border-top: 1px solid #eee;
}

.comment-list {

}


.comment {

}

.comment-metadata span {
    color: gray;
}

.footer {
    font-size: 14px;
    text-align: center;
}