.tags .tag  a{
    display: inline-block;
    list-style-type: none;
    color: rgba(255,255,255,.5)
}

li {
    list-style-type: none;
}
a {
    text-decoration: underline #202020;
    color: #202020;
}