
li {
    list-style-type: none;
}
a {
    text-decoration: underline #202020;
    color: #202020;
}
.tags {
    padding: 8px;
}

.tags .tag {
    display: inline-block;
    background-color: #202020;
    color: rgba(255,255,255,.5);
    margin: 1px;
    padding: 5px 8px;
}

.tags .tag a {
    color: rgba(255,255,255,.5);
}